<% if (typeof isAdmin !== 'undefined' && isAdmin) { %>
<div class="admin-nav-icons">
  <a href="<%= body.domain %>/" class="admin-nav-icon" title="Home">
    <i class="fas fa-home"></i>
  </a>
  <a href="<%= body.domain %>/adminConsole" class="admin-nav-icon" title="Console">
    <i class="fas fa-users"></i>
  </a>
  <a href="<%= body.domain %>/adminAdd" class="admin-nav-icon" title="Add Community">
    <i class="fas fa-plus"></i>
  </a>
  <a href="<%= body.domain %>/exportCodes" class="admin-nav-icon" title="Export CSV" target="_blank">
    <i class="fas fa-download"></i>
  </a>
</div>
<% } %>
