<%- include('partials/header'); %>

<h3 class="display-5 mt-5 mb-5" >G-CODE</h3>
<p class="mb-0" id="coord-x"></p>
<p class="mb-0" id="coord-y"></p>

<h2 class="mt-4 mb-5" id="label"><%= location.label %></h2>
<a href="/" class="btn btn-lg btn-danger mt-5">
  <i class="fas fa-2x fa-sync"></i>
</a>

<%- include('partials/footer'); %>
