<%- include('partials/header'); %>

<h3 class="display-5 mt-5 mb-5" >G-CODE</h3>
<h6 class="" id="coord-x"></h6>
<h6 class="" id="coord-y"></h6>

<h2 class="mt-4" id="codes"><%= location.label %></h2>

<%- include('partials/footer'); %>
