<%- include('partials/header'); %>

<h3 class="display-5 mt-5 mb-5" >G-CODE</h3>
<h6 class="" id="coord-x"></h6>
<h6 class="" id="coord-y"></h6>
<form class="d-none" id="location-form" action="/locate" method="POST">
  <input type="text" name="position" id="position" value="">
  <input type="submit" name="" value="">
</form>
<%- include('partials/footer'); %>
