<%- include('partials/login-header'); %>

<div class="d-none">
<p class="mb-0" id="coord-x"></p>
<p class="mb-0" id="coord-y"></p>
</div>

<form class="form-signin">
      <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
      <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign in</button> -->
      <p> For security measures, you are required to login with a google account, click the button below to continue.</p>
      <a href="/auth/google" class="text-left  btn btn-lg btn-primary btn-block p-0 m-0">
        <img src="img/google-icon-2.png" class="google-icon" alt="">
        <span class="ml-4">
          Sign in with Google
        </span>
      </a>
      <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
    </form>

<form class="d-none" id="location-form" action="/locate" method="POST">
  <input type="text" name="position" id="position" value="">
  <input type="submit" name="" value="">
</form>
<%- include('partials/login-footer'); %>
