<%- include('partials/login-header') %>

<div class="login-page">
  <div class="login-card">
    <p class="login-logo">Smart<span class="login-logo-dot">Stop</span></p>

    <a href="<%= body.domain %>/auth/google" class="btn-google">
      <img src="<%= body.domain %>/img/google-icon-2.png" class="google-icon-img" alt="Google">
      Sign in with Google
    </a>
  </div>
</div>

<%- include('partials/login-footer') %>
